<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >

        <activity android:name="com.josef.mobile.free.GoogleSignInActivity"></activity>

        <activity android:name="com.josef.mobile.free.ui.ContentActivity"
            android:parentActivityName="com.josef.mobile.free.ui.ContentActivity"
            ></activity>

        <activity android:name="com.josef.mobile.free.ContentActivity"
            android:parentActivityName="com.josef.mobile.free.ContentActivity"
            android:configChanges="orientation"></activity>

        <activity android:name="com.josef.mobile.free.ui.PresenterActivity"
            android:parentActivityName="com.josef.mobile.free.ui.ContentActivity"></activity>

        <activity android:name="com.josef.mobile.free.ui.ArchiveActivity"
            android:parentActivityName="com.josef.mobile.free.ui.ContentActivity"></activity>
    </application>

</manifest>