<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.josef.mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".vfree.BaseApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".vfree.ui.err.ErrorActivity"
            android:label="@string/title_activity_error"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".vfree.ui.splash.SplashActivity"
            android:launchMode="singleTask"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".vfree.ui.auth.option.account.SignActivity"
            android:launchMode="singleTask"
            android:theme="@style/AuthTheme" />
        <activity
            android:name=".vfree.ui.auth.option.verification.VerificationActivity"
            android:launchMode="singleTask"
            android:theme="@style/AuthTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".vfree.ui.player.PlayerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".vfree.ui.auth.AuthActivity"
            android:launchMode="singleTask"
            android:theme="@style/AuthTheme">
            >
        </activity>
        <activity
            android:name=".vfree.ui.main.MainActivity"
            android:launchMode="singleTask" />
    </application>

</manifest>